.row {
  background-color: white;
  border-top: 1px solid rgba(94, 94, 126, 0.349);
  border-bottom: 1px solid rgba(94, 94, 126, 0.349);
  height: 2.3rem;
  color: rgba(94, 94, 126, 0.822);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;

  td {
    padding: 1rem 2rem;
  }
  .name {
    color: rgba(0, 0, 0, 0.815);
    font-weight: bold;
  }

  .drop {
    display: flex;
    justify-content: flex-end;

    .edit {
      margin-right: 1rem;
      &:hover {
        cursor: pointer;
      }
    }

    .delete {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
