.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  background-color: rgb(231, 230, 238);

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(231, 230, 238);

    .title {
      font-family: "Merriweather Sans", sans-serif;
      padding-left: 10px;
    }
  }

  .rightdiv {
    display: flex;
    color: rgb(94, 94, 126);

    .materialicons {
      margin-right: 10px;
    }
  }
}
