.container {
  display: flex;
  justify-content: center;

  .div {
    display: block;
    padding: 0.5rem 0;
    width: 80vw;
    min-width: 1050px;
    background-color: white;

    .tab {
      margin: 0 2rem;
      color: rgb(94, 94, 126);

      &:focus,
      &:active {
        color: rgb(10, 0, 102);
      }

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}
