.container {
  display: flex;
  justify-content: center;

  //border-bottom: 1px solid rgba(94, 94, 126, 0.349);

  .div {
    display: block;
    padding: 0.5rem 0;
    width: 95%;
    min-width: 740px;
    background-color: white;
    .tab {
      margin: 0 2rem;
      color: rgb(94, 94, 126);

      &:focus,
      &:active {
        color: rgb(10, 0, 102);
      }

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}
