.container {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid rgba(94, 94, 126, 0.349);

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 80vw;

    .header {
      display: flex;
      flex-direction: row;
      align-items: center;

      .title {
        font-family: "Merriweather Sans", sans-serif;
        padding-left: 10px;

        a:link,
        a:visited,
        a:active,
        a:focus {
          text-decoration: none;
          color: rgb(61, 61, 61);
        }
      }
    }

    .rightdiv {
      display: flex;
      color: rgb(94, 94, 126);

      a:link,
      a:visited,
      a:active,
      a:focus {
        text-decoration: none;
        color: rgb(94, 94, 126);
      }

      .materialicons {
        margin-right: 10px;
      }
    }
  }
}
